.user-gallery {
  width: 100%;

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media screen and (min-width: 768.1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}

// Sample loading only :)
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
